{% extends 'blocks/base.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block content %}

    <div class="container border">
        <dev class="col">
            <div class="row">
                <main class="post blog-post">
                    <div class="container">
                        <div class="post-single">
                            <div class="post-details">
                                <div class="post-header  bg-purple">
                                    <h1 class="pb-2">About</h1>
                                </div>

                                <div class="post-body">


                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in
                                        reprehenderit in voluptate velit esse cillum
                                        dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui
                                        officia deserunt mollit anim id est laborum.</p>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </dev>
    </div>

{% endblock %}