{% extends 'blocks/base.html' %}
{% load static %}

{% block title %}
    {{ education.title }}
{% endblock %}

{% block content %}

    <div class="container border">
        <dev class="col">
            <div class="row">
                <!-- Latest Posts -->
                <main class="post blog-post">
                    <div class="container">
                        <div class="post-single">
                            <div class="post-details">
{#                            <div class="d-flex align-items-center text-write bg-dark rounded shadow-sm">#}
{#                                    <h1>{{ course.title }}</h1>#}
{#                                </div>#}
                                <div class="post-header  bg-purple">
                                    <h1 class="pb-2">{{ education.title }}</h1>
                                </div>
{#                                <h1 class="pb-2 border rounded bg-purple">{{ course.title }}</h1>#}

                                <div class="post-body">


                                    <p>{{ education.description }}</p>
                                    <br>
                                    <strong>O`qituvchilar:</strong><br>
                                    {% for teacher in education.teachers.all %}
                                        <ul>
                                            <li>
                                                <a href="/teachers/{{ teacher.id }}">{{ teacher }}</a>
                                            </li>
                                        </ul>
                                    {% endfor %}

{#                                    <strong>O`quv davri:</strong><em> {{ course.course_length.title }}</em><br>#}
{#                                    <strong>Boshlanish vaqti:</strong><em> {{ course.start_date }}</em><br>#}
{#                                    <Strong>Narxi:</Strong><em> {{ course.price }} ( {{ course.rate_plan.name }} )</em>#}
{#                                    <br>#}
{#                                    <Strong>Ta`lim turi: </Strong>#}
{#                                    {% for edu_type in course.type_of_education.all %}#}
{#                                        <a href="#" class="tag"><span#}
{#                                                class="badge rounded-pill bg-secondary text-white">{{ edu_type.title }}</span></a>#}
{#                                    {% endfor %}#}

                                </div>
{#                                <div class="post-tags">#}
{#                                    {% for tag in course.tags.all %}#}
{#                                        <a href="#" class="tag">#{{ tag.name }}</a>#}
{#                                    {% endfor %}#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>

                </main>
            </div>
        </dev>
    </div>

{% endblock %}