{% load static %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top primary-color">
    <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png' %}" width="35px"></a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
        {% with url_name=request.resolver_match.url_name %}
            <li class="nav-item {% if url_name == 'courses' %}active{% endif %}">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item {% if url_name == 'educations' %}active{% endif %}">
                <a class="nav-link" href="/educations">Educations</a>
            </li>
            <li class="nav-item {% if url_name == 'teachers' %}active{% endif %}">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
                <a class="nav-link" href="/about">About</a>
            </li>
        {% endwith %}
        </ul>
        <!-- Links -->
{#        <form class="form-inline">#}
{#            <div class="md-form my-0">#}
{#                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#            </div>#}
{#        </form>#}
    </div>
</nav>